ARC_TESTNET_RPC_URL=
DEPLOYER_PRIVATE_KEY=
SETTLE_ADMIN_ADDRESS=
SETTLE_OPERATOR_ADDRESS=
SETTLE_ARBITRATOR_ADDRESS=
SETTLE_PAUSER_ADDRESS=
SETTLEMENT_CONTRACT_ADDRESS=
CIRCLE_SETTLEMENT_CONTRACT_ID=
CIRCLE_DEPLOYMENT_TRANSACTION_ID=
CIRCLE_API_KEY=
CIRCLE_ENTITY_SECRET=
CIRCLE_WALLET_SET_ID=
CIRCLE_DEPLOYER_WALLET_ID=
CIRCLE_DEPLOYER_ADDRESS=
